<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12">
        <p class="text-center">Meu nome é Lucas e atualmente sou estudante de Análise e Desenvolvimento de Sistemas. Sempre fui um entusiasta
           da tecnologia e trabalhei como autônomo com hardware por alguns anos. Agora, estou buscando conhecimento na área de desenvolvimento
            de software. Já tive contato com diversas linguagens de programação e, no momento, estou focado em me tornar um desenvolvedor full
             stack em Java e Angular. Estou sempre em busca de aprender e aprimorar minhas habilidades.</p>
      </div>
    </div>

    <hr class="mt-4 mb-4">

    <div class="row">

      <div class="col-md-12 text-center mb-5">
        <h3>Meus Projetos</h3>
      </div>

      <div class="col-md-6 d-flex flex-column mb-5">
        <img src="./../../assets/image_preview.png" alt="sem imagem">
        <p>Em progresso</p>
      </div>
 
      <div class="col-md-6 d-flex flex-column mb-5">
        <img src="./../../assets/image_preview.png" alt="sem imagem">
        <p>Em progresso</p>
      </div>

      <div class="col-md-6 d-flex flex-column mb-5">
        <img src="./../../assets/image_preview.png" alt="sem imagem">
        <p>Em progresso</p>
      </div>
 
      <div class="col-md-6 d-flex flex-column mb-5">
        <img src="./../../assets/image_preview.png" alt="sem imagem">
        <p>Em progresso</p>
      </div>
 
 



    </div>



  
    <div class="row mt-5 mb-5">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
  </div>